
* {
    font-family: "Gill Sans", sans-ser, serif !important;
}

body {
    padding-top: 10%;
}

h1 {
    font-size: 55px !important;
    color: black !important;
    margin-top: 20px !important;
}

img {
    transform: rotate(10deg);
}

.logo-img {
    margin-top: 50px;
    width: 130px;
    height: 130px;
}

.btn-block {
    margin-top: 5%;
    gap: 15px;
}


.btn-block .btn:hover {
    border-color: black;
    background: transparent;
}